<div class='flex items-center mb-2 p-1 rounded-md transition-transform duration-200 hover:bg-sidebarBg-7'>
  <%= link_to folders_path  do %>
    <span class="[[data-expanded=true]_&]:hidden">&#x1F4C1; Folder</span>
    <span class="[[data-expanded=false]_&]:hidden">&#x1F4C1;</span>
  <% end%>
</div>
