<% show_author ||= false %>

<div data-controller="stale-article-cleaner">
  <% articles.each do |article| %>
    <%= render 'articles/article_list_item', article: article, show_author: show_author %>
  <% end %>
</div>
