<%= turbo_stream.replace "save_to_raindrop_#{dom_id(@article)}" do %>
  <span class="px-2 py-1 text-sm text-green-800 bg-green-200 rounded cursor-default">
    Saved to Raindrop ✓
  </span>
<% end %>

<%= turbo_stream.update dom_id(@article, :status_text) do %>
  <%= @article.status.capitalize %>
<% end %>
