<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if flash[:notice].present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert].present? %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert">
        <%= flash[:alert] %>
      </p>
    <% end %>

    <%= render @article %>
  </div>
</div>
